<section id="prodetails" class="topmargin">
    <div class="single-pro-image">
        <img src="/images/download.jpg" alt="" width="100%" id="mainImage">

        <div class="small-image-group">

            <div class="small-img-col">
                <img src="/images/download.jpg" alt="" width="100%" class="small-img">
            </div>

             <div class="small-img-col">
                <img src="/images/download.jpg" alt="" width="100%" class="small-img">
            </div>

             <div class="small-img-col">
                <img src="/images/download.jpg" alt="" width="100%" class="small-img">
            </div>

             <div class="small-img-col">
                <img src="/images/download.jpg" alt="" width="100%" class="small-img">
            </div>


        </div>
    </div>

    <div class="single-pro-details">
        <h6>Home/{{this.category}}fsdf</h6>
        <h3>{{this.name}}Arjun</h3>
        <h3 class="price">₹{{this.Price}}56767</h3>

        <button class="addbtn">Add To Cart</button>
        <h4>Product details</h4>
        <p>ksgfolshfksjfopsufio sofsduifh osifuiosf </p>
    </div>

    
</section>
<div class="text-center pro-container">
      <h2 >Related Products</h2>

      <div class="" id="product1">
        {{!-- {{#each products}} --}}
          <div class="product">

          <img src="/product-images/62b5762db718198e5f0e9647.jpg" alt="">

          <div class="details">
            <span>samsung</span>
            <h5>{{this.Name}}</h5>
            <h4>₹{{this.Price}}</h4>



          </div>
          <a href="#" class="">
            <div class="icon "><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor"
              class="bi bi-cart3 " viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg> 
            </div></a>

        </div>
  
        {{!-- {{/each}} --}}
        
      </div>
      
    </div>